# Task1 How to simulation do....while in python

In [3]:
number = int(input('Enter the number:'))
test = True
while test:
    if number < 10:
        print(f"{number} ==> the number is accepted")
        test = False
    else:
        print(f'{number} ==> sub 1 from number')
        number -= 1

Enter the number:11
11 ==> sub 1 from number
10 ==> sub 1 from number
9 ==> the number is accepted

# Task2

**1-Write a Python program to calculate the length of a string using 2 ways

In [5]:
string  = "mohammed elsayed affan"
count = 0
for i in string:
    count +=1
    
print(f'the length of string = {count}')

the length of string = 22

In [6]:
len(string)

22

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' Expected Result : 'w3ce' ##Sample String : 'w3' Expected Result : 'w3w3' ##Sample String : ' w' Expected Result : Empty String)

In [11]:
string = input('Enter the string: ')

if len(string) >= 2:
    print(f'{string[0:2]}{string[-2:]}')
else:
    print("Empty String")

Enter the string: w3resource
w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc' Expected Result : 'abcing')

In [23]:
string = input('Enter the string: ')

if len(string) < 3:
    print(f'the string with out changed :{string}')
elif string[-3:] == 'ing':
    string = string + 'ly'
    print(f'the string after add ly :{string}')
else:
    string = string + 'ing'
    print(f'the string after add ing :{string}')

Enter the string: lyg
the string after add ing :lyging

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one (Longest word: Exercises Length of the longest word: 9)

In [26]:
def maxword(strings):
    str_len = []
    for string in strings:
        length = len(string)
        str_len.append(length)
    max_len = max(str_len)
    print(f'Longest word:{strings[str_len.index(max_len)]} Length of the longest word: {max_len}')
maxword(['ronaldo','mohammed','elsayed','affan'])

Longest word:mohammed Length of the longest word: 8

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca Expected Result:ebce)

In [41]:
string = input('Enter the string: ')
print(f'the new string is: { string[-1]}{string[1:-1]}{string[0]}')

Enter the string: abce
the new string is: ebca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [52]:
string = input('Enter the string: ')
out = ''
for i in range(0,len(string)):
    if i % 2 == 0:
        out = out + string[i]
        
print(f'string after remove odd values: {out}')

Enter the string: abca
string after remove odd values: ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [10]:
def count_word(string):
    counts = dict()
    words = string.split()
    for word in words:
        if word in counts:
            counts[word] +=1
        else:
            counts[word] = 1
            
    return counts

counts = count_word('amr and ahmed are frindes but amr is the tallest')
print(f'the Result: {max(counts.values())}')

the Result: 3

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [11]:
user_input = input('Enter the massege: ')

print(f'the massege with lower case: {user_input.lower()}')
print(f'the massege with upper case: {user_input.upper()}')

Enter the massege: my name is MOHAMMED AFFAN
the massege with lower case: my name is mohammed affan
the massege with upper case: MY NAME IS MOHAMMED AFFAN

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [24]:
def reverse_string(string):
    if len(string) % 4 == 0:
        newstring = ''
        for i in range(-1,-len(string)-1,-1):
            newstring += string[i] 
        print(f'the string is reversed: {newstring}')
    else:
        print(f'the string not reversed: {string}')


string = input('Enter the string: ')
reverse_string(string)

Enter the string: moha
the string is reversed: ahom

**10- Write a Python program to remove a newline in Python

In [38]:
string = 'moahmmed affan\n'
print(string.strip())

moahmmed affan

**11-Write a Python program to check whether a string starts with specified characters

In [40]:
string = input('Enter the string: ')
print(string.startswith('affan'))

Enter the string: affan mohammed
True

**12- Write a Python program to add prefix text to all of the lines in a string

In [7]:
string = """my name is :
mohammed affan
and age is 22 """

prefix_value = input("Enter the prefix value: ")

for line in string.splitlines():
    print("".join(prefix_value+line))

Enter the prefix value: >
>my name is :
>mohammed affan
>and age is 22

**13-Write a Python program to print the following numbers up to 2 decimal places

In [2]:
num = float(input('Enter the float number: '))
print(f"number up to 2 decimal places : {num:.2f}")

Enter the float number: 13.1415926
number up to 2 decimal places : 13.14

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [7]:
num = float(input('Enter the float number: '))
print(f"number up to 2 decimal places : {num:+.2f}")

Enter the float number: -12.986
number up to 2 decimal places : -12.99

**15-Write a Python program to display a number with a comma separator

In [8]:
num = int(input('Enter the float number: '))
print(f"number comma separator : {num:,}")

Enter the float number: 3000000000
number comma separator : 3,000,000,000

**16-Write a Python program to reverse a string using 2 ways

In [22]:
string = "mohammed elsayed affan"
print(f"the revers string: {''.join(reversed(string))}")
print(f"the revers string: {string[-1:-len(string)-1:-1]}")
print(f"the revers string: {string[::-1]}")

the revers string: naffa deyasle demmahom
the revers string: naffa deyasle demmahom
the revers string: naffa deyasle demmahom

**17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [32]:
string = "mohammed elsayed affan"
count = {}

for i in string:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1
        
print(count)

{'m': 3, 'o': 1, 'h': 1, 'a': 4, 'e': 3, 'd': 2, ' ': 2, 'l': 1, 's': 1, 'y': 1, 'f': 2, 'n': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [34]:
string = "mohammed elsayed"
char_ord = []
char = {}

for i in string:
    if i in char:
        char[i] += 1
    else:
        char[i] = 1
        char_ord.append(i)
        
        
for i in char_ord:
    if char[i] == 1:
        print(f"the first non repeating char is : {i}")
        break
    else:
        print("not found the non repeating char")

not found the non repeating char
the first non repeating char is : o

**19-Write a Python program to remove spaces from a given string

In [39]:
string = "mohammed elsayed affan"
print(f"string with out spaces: {string.replace(' ','')}")

string with out spaces: mohammedelsayedaffan

**20-Write a Python program to count the number of non-empty substrings of a given string

In [45]:
string = input("Enter the string: ")

number_of_substrings = 0
length = len(string)
while  length > 0:
    number_of_substrings += length
    length -= 1
    
print(f"number of substrings: {number_of_substrings}")

Enter the string: mohammed elsayed affan
number of substrings: 253

**21-write a Python program to swap first and last element of any list.

In [46]:
def swap_last_first(l):
    temp = l[0]
    l[0] = l[-1]
    l[-1] = temp
    return l

l = [10,20,30,40,50]
print(f"list with swap first and last element: {swap_last_first(l)}")

list with swap first and last element: [50, 20, 30, 40, 10]

In [47]:
def swap_pos_in_list(l,pos1,pos2):
    temp = l[pos1]
    l[pos1] = l[pos2]
    l[pos2] = temp
    return l

l = [10,20,30,40,50]
print(f"list with swap pos of  element: {swap_pos_in_list(l,0,2)}")

list with swap pos of  element: [30, 20, 10, 40, 50]

**23- search for the all ways to know the length of the list

In [51]:
l = [10,20,30,40,50]
print(f"first way: {len(l)}")

count = 0
for i in l:
    count += 1
print(f"second way: {count}")

first way: 5
second way: 5

**24-write a Python code to find the Maximum number of list of numbers.

In [55]:
l = [10,20,15,200,159,201,199,30,40,50]
print(f"the maximum number: {max(l)}")

maximum = l[0]

for i in l:
    if i > maximum: maximum = i
    
print(f"the maximum number: {maximum}")

the maximum number: 201
the maximum number: 201

**25-write a Python code to find the Minimum number of list of numbers.

In [56]:
l = [10,20,15,200,159,201,199,30,40,50]
print(f"the minimum number: {min(l)}")

minimum = l[0]

for i in l:
    if i < minimum: minimum = i
    
print(f"the minimum number: {minimum}")

the minimum number: 10
the minimum number: 10

**26-search for if an elem is existing in list

In [57]:
l = [10,20,15,200,159,201,199,30,40,50]
item = int(input("enter the element: "))
if item in l:
    print(f"the item {item} existing")
else:
    print(f"the item {item} not existing")

enter the element: 200
the item 200 existing

**27- clear python list using different ways

In [62]:
l = [10,20,15,200,159,201,199,30,40,50]

l.clear()
print(f"the list after clear {l}")


l = [10,20,15,200,159,201,199,30,40,50]

l *= 0
print(f"the list after clear {l}")


l = [10,20,15,200,159,201,199,30,40,50]

l = []
print(f"the list after clear {l}")

the list after clear []
the list after clear []
the list after clear []

**28-remove duplicated elements from a list

In [64]:
l = [11,2,1,1,2,5,55,5,11,23,22]

print(f"the list after duplicated: {list(set(l))}")

the list after duplicated: [1, 2, 5, 11, 23, 22, 55]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”] Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [36]:
keys = ["name" , "id"]
values = ["mohammed" ,22]
dic = {}

for key in keys:
    for value in values:
        dic[key] = value
        values.remove(value)
        break
        
print(f"the dictionary is: {dic}")

the dictionary is: {'name': 'mohammed', 'id': 22}

**30-write a python program to count unique values inside a list using different ways

In [6]:
_list = [1, 2, 2, 5, 8, 4, 4, 0, 5, 8]
l = [] 
count = 0

for item in _list:
    if item not in l:
        count += 1
        l.append(item)
    else:
        count -= 1
        
print(f"number of unique item is : {count}")

number of unique item is : 2

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 Output : [4, 3] )

In [7]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3

count =[]

for i in test_list:
    
    frequnt = test_list.count(i)
    
    if frequnt >= k and i not in count:
        count.append(i)
        
        
print(f"the frequency list: {count}")

the frequency list: [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5 Output: 2 2 3 4 5)

In [12]:
_list = [1,2,2,3,4,5]
l = [] 
for i in range (1,len(_list)):
    
    r = max(_list[i],_list[i-1])
    l.append(r)
    
print(f"the strongest neighbour: {l}")

the strongest neighbour: [2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3] Output: 1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1)

In [37]:
_list = [1,2,3]
size = len(_list,)
for i in range(size):
    for j in range(size):
        for k in range(size):
            if (i!=j and j!=k and k != i): 
                print(_list[i], _list[j], _list[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] Output: [1], [1, 2], [1, 2, 3], [1, 3] [2], [2, 3], [3])

In [5]:
test_list = [1,2,3]
combinations = []
for i in range(len(test_list)):
    for j in range(len(test_list)):
        combinations.append((test_list[i],test_list[j]))

print(combinations)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"] List_2 = [1,2] Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [2]:
list_1 = ["a","b"] 
list_2 = [1,2]

combinations = []

for i in range(len(list_1)):
    for j in range(len(list_2)):
        combinations.append((list_1[i],list_2[j]))

print(combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [32]:
def remove_element(l,k):
    result = []
    
    for i in l:
        if i != k:
            result.append(i)
    return result

list_test = [1,1,2,3,4,5,1,2,1]
k = 1

print(remove_element(list_test,k))

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [31]:
def replace(list1, list2):
    result = []

    for i in range(len(list2)):
        result.append(list1[list2[i]])

    return result

list1 = ["Gfg", "is", "best"]
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

result = replace(list1, list2)

print(result)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 Output : [(4, 5, 5, 4)] Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 Output : [] )

In [30]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2 
result = []
for i in test_list:
    if i.count(K)  == N:
        result.append(i)
    
print(result)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]] Output : Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]] Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]] Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [18]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(len(array)):
    result = sorted(array,key=lambda l:l[i])
    print(result)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value Input: {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [35]:
dic = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
# for keys
_keys = list(dic.keys())

_keys.sort()
sort_dic = {x: dic[x] for x in _keys}

print(f"The sorted dictionary by key is : {sort_dic}")


# for values

sort_dic = sorted(dic.items(), key= lambda x: x[1])
print(f"The sorted dictionary by values is : {sort_dic}")

The sorted dictionary by key is : {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
The sorted dictionary by values is : [('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values ) nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’}, K = 7 Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [28]:
def remove_key(dic,k):
    result = {}

    for key, value in test_dict.items():
        if isinstance(value, int) and value < K:
              result[key] = value
    return result

test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
k = 7 
print(remove_key(test_dict,k))

{'Gfg': 3, 'for': 6}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary : dic1={1:10, 2:20} dic2={3:30, 4:40} dic3={5:50,6:60} Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}

for i in (dic1,dic2,dic3):
    dic1.update(i)
    
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [95]:
d = {"one":1 , "two":2 , "three":3 }
for key,value in d.items():
    print(f"{key} for ==> {value}")

one for ==> 1
two for ==> 2
three for ==> 3

**44- Write a Python script to merge two Python dictionaries

In [94]:
d1 = {'a': 1, 'b': 2}

d2 = {'c': 3, 'd': 4}

d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [71]:
my_dict = {'x': 500, 'y': 5874, 'z': 1008}

print(f"the maximum value: {max(my_dict.values())}")
print(f"the minimum value: {min(my_dict.values())}")

the maximum value: 5874
the minimum value: 500

**46- Write a Python program to drop empty items from a given dictionary. Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None} New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

In [87]:
dic = {'c1': 'Red', 'c2': 'Green', 'c3': None,  'c4': 'blue'}
dic1 = {}
for key, value in dic.items():
    if value is not None:
        dic1[key] = value
        
print(dic1)

{'c1': 'Red', 'c2': 'Green', 'c4': 'blue'}

**47-Write a Python program to create a tuple of numbers and print one item

In [89]:
tup = (1,2,3,6,7,8)

print(tup[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [72]:
tup = (1,2,3)
var1, var2, var3 = tup

print(f"var1: {var1} \nvar2: {var2} \nvar3: {var3}")

var1: 1
var2: 2
var3: 3

**49-Write a Python program to add an item to a tuple

In [69]:
tup = (15,87,232,27,883,863,382)
x =5
list_ = list(tup)
list_.append(x)
tup = tuple(list_)
tup

(15, 87, 232, 27, 883, 863, 382, 5)

**50-Write a Python program to convert a tuple to a string

In [64]:
tuple1 = ('mo ','affan ','mohamed')
print(''.join((tuple1)))


string = ''
for i in range(len(tuple1)):
    string += tuple1[i]
print(string)

mo affan mohamed
mo affan mohamed

**51-Write a Python program to convert a list to a tuple

In [38]:
l = ['mohammed',22,'6/2/2002','single']
print(tuple(l))

('mohammed', 22, '6/2/2002', 'single')

**52-Write a Python program to reverse a tuple

In [40]:
tuble = ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')
tuble_rev = ''
for i in range(len(tuble)-1,-1,-1):
    tuble_rev += tuble[i]
print(tuple(tuble_rev))

('0', '.', '3', ' ', 'n', 'o', 'h', 't', 'y', 'p')

**53-Write a Python program to replace the last value of tuples in a list. Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [41]:
list2 = [(10,20,40),(40,50,60),(70,80,90)]
list2 = [t[:-1] + (100,) for t in list2]
print(list2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple Original string: python 3.0 <class 'str'> Convert the said string to a tuple: ('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [42]:
string = "python 3.0"
print(f"convert the string: {string} to tuble: {tuple(string)}")

convert the string: python 3.0 to tuble: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [43]:
tub = (15,87,232,27,883,863,382)
average = sum(tub) / len(tub)

print(f"the average value of the tuble is = {average}")

the average value of the tuble is = 355.57142857142856

**56-Write a Python program to add member(s) to a set.

In [44]:
set ={155,282,728,383,58,85,85}
number = int(input('Enter the number in set: '))
if number in set:
    print(f"sorry the number {number} found in the set")
else:
    set.add(number)
    print(f"the number {number} add in the set")
    
set

Enter the number in set: 15
the number 15 add in the set

{15, 58, 85, 155, 282, 383, 728}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [45]:
set = {15,18,125,4,3,9,10}
number = int(input("enter the number to cheak: "))
if number in set:
    set.remove(number)
    print(f"the number removed => the new set is {set}")
else:
    print("the number not found in set")

enter the number to cheak: 15
the number removed => the new set is {18, 3, 4, 9, 10, 125}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [46]:
set1 = {154,'affan',48,658,1.5,2,11}
set2 = {154,'affan','mohammed',48,658,1.5,2,1,3,4}
print(f"the intersection of sets : {set1.intersection(set2)}")
print(f"the union of sets : {set1.union(set2)}")
print(f"the difrence of sets : {set1.difference(set2)}")
print(f"the symmetric diffrence of sets : {set1.symmetric_difference(set2)}")

the intersection of sets : {1.5, 2, 48, 658, 'affan', 154}
the union of sets : {1.5, 2, 3, 4, 1, 11, 'mohammed', 658, 'affan', 154, 48}
the difrence of sets : {11}
the symmetric diffrence of sets : {3, 4, 1, 11, 'mohammed'}

**59-Write a Python program to find the maximum and minimum values in a set

In [47]:
set1 ={1,2,38,9,25,222,268,0}
print(f"the max value of set: {max(set1)}, the min value of set: {min(set1)}")

the max value of set: 268, the min value of set: 0

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [51]:
def pairs_of_values(nums, target):
    pairs = []
    
    for i in nums:
        temp = target - i
        
        if temp in nums:
            pairs.append((i,temp))
            
    return pairs
    
    
    

nums = [1,15,182,14,16,30,16,8,0,36,2,4,6,8]
target = 30
print(f"Target = {target}")
print(f'the all pairs = {pairs_of_values(nums,target)}')

Target = 30
the all pairs = [(15, 15), (14, 16), (16, 14), (30, 0), (16, 14), (0, 30)]